<?xml version="1.0"?>
<config>
  <modules>
    <Apico_CustomerAttribute>
      <version>0.1.1</version>
    </Apico_CustomerAttribute>
  </modules>
  <global>
    <helpers>
      <customerattribute>
        <class>Apico_CustomerAttribute_Helper</class>
      </customerattribute>
    </helpers>
	<models>
	  <customerattribute>
		<class>Apico_CustomerAttribute_Model</class>
		<resourceModel>customerattribute_mysql4</resourceModel>
	  </customerattribute>
	</models>
	<resources>
	  <customerattribute1470040781_setup>
		<setup>
		  <module>Apico_CustomerAttribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1470040781_setup>
	  <customerattribute1470040781_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1470040781_write>
	  <customerattribute1470040781_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1470040781_read>
	</resources>
  </global>
</config> 