<?xml version="1.0"?>
<config>
  <modules>
    <Apico_ExportCustomer>
      <version>0.1.0</version>
    </Apico_ExportCustomer>
  </modules>
  <global>
    <helpers>
      <exportcustomer>
        <class>Apico_ExportCustomer_Helper</class>
      </exportcustomer>
    </helpers>
	<models>
	  <exportcustomer>
		<class>Apico_ExportCustomer_Model</class>
		<resourceModel>exportcustomer_mysql4</resourceModel>
	  </exportcustomer>
	</models>
	<resources>
	  <customerattribute1470134064_setup>
		<setup>
		  <module>Apico_ExportCustomer</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1470134064_setup>
	  <customerattribute1470134064_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1470134064_write>
	  <customerattribute1470134064_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1470134064_read>
	</resources>
  </global>
</config> 