<?xml version="1.0"?>
<config>
  <modules>
    <Apico_CustomerCheck>
      <version>0.1.1</version>
    </Apico_CustomerCheck>
  </modules>
  <frontend>
      <layout>
          <updates>
              <Apico_CustomerCheck>
                  <file>apico/CustomerCheck.xml</file>
              </Apico_CustomerCheck>
          </updates>
      </layout>
  </frontend>
</config>